header{
    background: black;  
    height: 280px;
    padding-top: 45px;
}
header h1{
    color: #BA9500;
    font-size: 170px;
    font-family: Arial, "Times New Roman", Times, serif;
}
header h2{
    color: #FF5050;
    font-size: 110%;
}
.main{
    background: white;
}
.nav-bar{
    border: solid black 5px;
    background: white; 
    
}
.nav-bar li{
    margin-left: 20px;
    display:block;
}
.nav-bar li a{
    color: orange;
}
carousel{  
    height: 100%;   
    width: 100%;
    margin-bottom: 0px;

}
.artist img{
    display:block;
    margin:auto;   
}

.grid{
    width: 100px;
}

.gallery    {
    display: inline;
    width: 50%;
    margin: 0 auto;
    width: 50%; 
}
.car{
    display: block;
}   

nav{
    display:block;
}
.break{
    width = 5px;
    background-color: red;
    
}
.repeater{
    display: inline;   
    margin: 10px;
    
    
}
.gallery {
    display: inline;
}
.gallery img{
    margin:10px;
    border: black solid 5px;
}
body {
    background: url(../img/background.jpg) grey;    
    background-size: 100%;

}
.contact{
    color: black;     
}
.title{
    font-size: 400%;   
}