<div class="row">
    <img ng-src="/img/dana.png" width="300" height="280" class="col-md-offset-3">
</div>
<br></br>
<div class="row">
    <p>The artist Dana Lynn Pettem was born in The City of the Thousand Islands on the beautiful St Lawrence River in Ontario, Canada. While always being artistically inclined, she has carried a deep appreciation for nature and the beautiful gifts it offers. Having a fascination for gem stones and wood it is no surprise she took that fascination and created art.</p>

    <p>Dana was greatly influenced by many, and attained skills in interior design, craftsmanship and various trades. Using all she has learned from many important individuals along the way, she has attained the necessary skills and created Natural Design Concepts. Although all these influences have helped her develope her version of functional art, it has been her vision and dedication to creating unique yet naturally beautiful pieces that has set her apart.</p>

    <p>Dana is a Canadian artist at heart and spends much of her time designing while in her hometown but being the cultured individual she is, she craves worldly inspiration. Being fortunate to spend alot of time designing in Puerto Vallarta Mexico, she gets the opportunity to work with incredible cuts of exotic hardwood. Her guarantee that all wood sourced is from fallen and salvaged trees is very important to the artist and her work, being sure to harm nothing in nature. Dedicated to only using very high quality Gem Stones, Pearls, Freshwater Shells, Domestic and Exotic Wood she employs a modern touch with quality resins, acrylic, glass and LED lights. Her intent regarding her art is simple. Natural beauty from Mother Nature complemented with enhanced lighting. A technique rarely seen with wood and glass like resins with encrusted gem stones.</p>

    <p>Dana will continue to create collection after unique collection using her artistic philosophies and the beauty of nature.</p>

    <h4>Luxury By: Nature</h4>
</div>